In [1]:
print("Hello! Python!")

Hello! Python!

In [8]:
n = 10 #int
m = 5.0 #float
name = '徐國堂' #str
is_google = True #bool

In [9]:
print(n)
print(m)
print(name)
print(is_google)

10
5.0
徐國堂
True

In [13]:
#tuple
t1 = (1, 2, 3, 4, 5)
print(type(t1))

t2 = ('a', 'b', 'c')
t2

<class 'tuple'>

('a', 'b', 'c')