In [1]:
print("Hello! Python!")

Hello! Python!

In [8]:
n = 10 #int
m = 5.0 #float
name = '徐國堂' #str
is_google = True #bool

In [9]:
print(n)
print(m)
print(name)
print(is_google)

10
5.0
徐國堂
True

In [13]:
#tuple
t1 = (1, 2, 3, 4, 5)
print(type(t1))

t2 = ('a', 'b', 'c')
t2

<class 'tuple'>

('a', 'b', 'c')

In [16]:
#tuple,暫時的資料
#tuple的內容不可以修改
#tuple最常使用在拆解法(拆解tuple,給變數)

name,chinese,math,english = '徐國堂',78,92,65

In [17]:
print(name)
print(chinese)
print(math)
print(english)

徐國堂
78
92
65

In [18]:
mylist = [1, 2, 3, 4]
mylist

[1, 2, 3, 4]

In [19]:
print(type(mylist))

<class 'list'>